/target
/target_trunk
/dist
/mingw-w64
/trunk-bin
/scratch
index.html
*.exe
*.pdb
*.zip
*.log
*.txt
*.tmp
vs_buildtools.exe
rustup-init.exe
fix_pub.rs
split_project.rs
undo_pub.rs
update_theme.py
.DS_Store
Thumbs.db
